@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER SECTION STYLE STARTS HERE */

.header-container {
    margin: 0 auto;
    width: 1440px;
    height: 652px;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-contents {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-contents img {
    margin-top: 10px;
}

.header-contents h1 {
    margin-top: 32px;
    margin-bottom: 20px;
    width: 998px;
    height: 136px;
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
}

.header-contents a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.header-contents p {
    width: 852px;
    height: 52px;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 400;
}

.header-contents button {
    width: 208px;
    height: 66px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    margin-top: 45px;
    cursor: pointer;
    border: none;
    outline: none;
}

/* HEADER SECTION STYLE ENDS HERE */

/* WHY WEB DEVELOPMENT SECTION STYLE STARTS HERE */


.why-web-dev {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    width: 1140px;
    height: 1393px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 88px;
}

.why-web-dev-container {
    width: 946px;
    height: 1233px;
    margin: 80px 97px;
}

.why-web-dev-title-container {
    width: 852px;
    height: 113px;
    margin: 0 auto;
    text-align: center;
}

.why-web-dev-title-container h1 {

    width: 852px;
    height: 37px;
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}

.why-web-dev-title-container p {
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin: 24px 0px 48px 0px;
}

/* design below s shared between top and bottom content*/
.why-web-dev-top-bottom-container {
    width: 946px;
    height: 336px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background: #ffffff;
    margin-bottom: 32px;
    padding: 48px;
    margin-top: 40px;
}

.why-web-dev-top-bottom-left {
    width: 477px;
    height: 220px;
}

.why-web-dev-top-bottom-left h1 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
}

.why-web-dev-top-bottom-left p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}

/* center parts design starts here*/
.why-web-dev-center-container {
    width: 946px;
    height: 336px;
    margin: 0 auto;
    display: flex;
    gap: 32px;
    align-items: center;
    border-radius: 16px;
    background: #ffffff;
    margin-bottom: 30px;
    padding: 48px;
}

.why-web-dev-center-left {
    width: 240px;
    height: 240px;
}

.why-web-dev-center-right h1 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
}

.why-web-dev-center-right p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}

/* UNIVERSAL BUTTON */
.learn-more-btn {
    width: 150px;
    height: 48px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    cursor: pointer;
    margin-top: 30px;
}

/* UNIVERSAL BUTTON */

/* WHY WEB DEVELOPMENT SECTION STYLE STARTS HERE */

/* MY INSPIRATION SECTION STYLE STARTS HERE */

.inspiration-container {
    width: 1140px;
    height: 777px;
    margin: 0 auto;
    margin-top: 88px;
    margin-bottom: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inspiration-contents {
    width: 852px;
    height: 115px;
    text-align: center;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.inspiration-contents h1 {
    width: 852px;
    height: 39px;
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.inspiration-contents p {
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

.yt-vid {
    margin: 32px;
}

/* MY INSPIRATION SECTION STYLE ENDS HERE */

/* MY CURRENTS TARGET SECTION STYLE STARTS HERE */

.current-target-container {
    width: 1140px;
    height: 463px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.current-target-text {
    width: 946px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.current-target-text h1 {
    width: 852px;
    height: 39px;
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    padding-top: 20px;
}

.current-target-text p {

    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    margin: 24px 0px 48px;
}

/* CARD STYLES */
.cards-container {
    width: 1140px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}


.cards {
    width: 364px;
    height: 300px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card {
    border-radius: 16px;
    padding: 40px;
}

#html-card {

    background: rgba(255, 76, 30, 0.05);
}

#css-card {
    background: rgba(0, 76, 232, 0.05);
}

#js-card {
    background: rgba(255, 223, 0, 0.05);
}

.card img {
    width: 56px;
    height: 56px;
}

.card h1 {
    width: 284px;
    height: 36px;
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
}

.card p {
    width: 284px;
    height: 52px;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
}

.card a {
    text-decoration: underline;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
}

/* MY CURRENTS TARGET SECTION STYLE ENDS HERE */

/* I NEED SUPPORT SECTION STYLES STARTS HERE */

.support-container {
    width: 1140px;
    height: 314px;
    margin: 0 auto;
    border-radius: 16px;
    background-image: url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.support-text {
    width: 730px;
    height: 104px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px 0px;
}

.support-text h1 {
    width: 292px;
    height: 36px;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.support-text p {
    width: 606px;
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.input-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.input-field :nth-child(1) {
    width: 548px;
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 19px 20px 19px 20px;
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
    border-radius: 8px;
}

.input-field :nth-child(2) {
    width: 120px;
    height: 58px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 20px 17px 20px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}

/* I NEED SUPPORT SECTION STYLES ENDS HERE */

/* FOOTER SECTION STYLE STARTS HERE */

.footer-container {
    width: 1140px;
    height: 100px;
    border-radius: 16px;
    margin: 0 auto;
    background: rgba(13, 19, 33, 0.03);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-container h3{
    width: 390px;
    height: 24px;
    color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
text-align: center;
}
.footer-img-container a{
    text-decoration: none;
}
.footer-img-container img{
    padding-right: 24px;
}
/* FOOTER SECTION STYLE ENDS HERE */